/*This represents the complete outline of the HTML. THe width is 3/4 of the screen, centered, complete height
(may need to change this later) and centered within the body using
margin:auto  */


*{
    color:white;
    margin:auto;  
    box-sizing: border-box;  
}

body {
    background: white;  
    margin:auto;  
    width:100%
}

.fullContainer{
    background: black;
    height: 100%;
    border:1px solid red;
    width:75%;
    margin: auto;
}

.gameContainer
{
    width:90%;
    margin:auto;
 
}
/*This represents the header on the intro page, centered. Need to determine what it should look like.*/
#mainHeader {
    color: white;
    /*Determine font fmily, size, color, outline, border,image?, incorporating logos?*/
    width: fit-content;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    
}
#openingInstructions{
    margin:auto;
    width:90%;
}

/*This sets all the font on the page to white.*/

#wordDiv{
    margin-left:10px;
    margin-right:10px;
    

}
.underlines{
    font-size: 40px;
    width: fit-content;
    margin:auto;
    margin-bottom: 40px;
    margin-top: 40px;
    letter-spacing: 4px;
}

#gameText{
    font-size: 24px;
    line-height:1.5;
    margin-top:20px;
    width: fit-content;
    color: white;
}

.gameInfo{
    margin-left:0;
    margin-right:0;
}

#previouslyGuessed {
    width: fit-content;
    margin-bottom: 15px;
}