/*This represents the complete outline of the HTML. THe width is 3/4 of the screen, centered, complete height (may need to change this later) and centered within the body using
margin:auto  */

.container{
    width:75%;
    background: black;
    height: 100%;
    margin: auto;
}
/*This represents the header on the intro page, centered. Need to determine what it should look like.*/
#introHeader {
    color: white;
    /*Determine font fmily, size, color, outline, border,image?, incorporating logos?*/
    width: fit-content;
    margin: auto;
}

/*This sets all the font on the Intro page to white. My use on other pages.*/

.whiteFont{
    color:white;
    width: 90%;
    margin: auto;
}

#startButton {
    margin:auto;/* FIgure out how to center button */

}