/*This represents the complete outline of the HTML. THe width is 3/4 of the screen, centered, complete height (may need to change this later) and centered within the body using
margin:auto  */
* {
    color:white;
    width: 90%;
    margin:auto;    
}

body {
    background: white;    
}

.fullContainer{
    background: black;
    height: 100%;
    border:1px solid red;


}

.introContainer,
.gameContainer
{
    width:75%;
    

}
/*This represents the header on the intro page, centered. Need to determine what it should look like.*/
.mainHeader {
    color: white;
    /*Determine font fmily, size, color, outline, border,image?, incorporating logos?*/
    width: fit-content;
   
}

/*This sets all the font on the Intro page to white. My use on other pages.*/

* {
    color:white;
    width: 90%;
    
}

#startButton {
    background-color: red;/* FIgure out how to center button */
    width: fit-content;

}